          <div class="author-card">
            <img class="author-card-avatar" src="/assets/images/vijay.jpg" alt="Vijay Panangipally" width="72" height="72" loading="lazy">
            <p class="author-card-name">Vijay Panangipally</p>
            <p class="author-card-bio">Essays on data, technology, and life, from Canada. A new one most weeks.</p>
            <a class="author-card-link" href="/about">More about me</a>
          </div>
