    <header class="lensing">
        <div class="container">
            <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
            <p class="site-tagline">{{ site.tagline | safe }}</p>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/archive">Archive</a>
            </nav>
        </div>
    </header>
